.TabelaProdutos table {

    width: 100%;

}


.TabelaProdutos th {

    background-color: #EAFF2E;
    color: #000;

}

.TabelaProdutos .Par {

    background-color: #ddd;

}

.TabelaProdutos .Impar {

    background-color: #ccc;

}
